@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

:root {
  --link-active: #4c8bf5;
}
body {
  font-family: "Montserrat", sans-serif;
}
.head-cont {
  background-color: #4c8bf5;
  display: flex;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  padding: 3px;
  z-index: 1;
  align-items: center;
}
.header-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.header-img:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sideMenu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(171, 193, 216);
  font-family: "Titillium Web", sans-serif;
  transition: margin-left 0.5s;
}

.sideMenu ul {
  list-style: none;
  padding: 0;
  margin-top: 65px;
  margin-left: 45px;
}

.sideMenu a {
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 2rem;
  color: white;
  display: block;
  transition: 0.2s;
}

.sideMenu a.link:hover {
  color: var(--link-active);
}
.sideMenu a.link.active {
  color: var(--link-active);
}

.content {
  margin-left: 250px;
  transition: margin-left 0.5s;
  padding: 10px;
  max-width: 1000px;
}
.home-title {
  margin-bottom: 15px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px gray solid;
  padding: 3px;
}
.title {
  font-weight: 600;
}
.table-row-side {
  display: flex;
}
.dueDate {
  width: 150px;
}
.priority {
  width: 100px;
}
.low {
  color: #04aa6d;
}
.medium {
  color: #db4c3f;
}
.high {
  color: red;
}
.check-box-cont {
  display: flex;
}
.crossout {
  text-decoration: line-through;
  color: gray;
}
.project-link {
  display: flex;
}

#add-project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 0;
}
#add-project-btn:hover {
  background-color: rgba(255, 255, 255, 0.377);
  color: var(--link-active);
}
