@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

:root {
  --link-active: #4c8bf5;
  --table-row-padding: 3px;

  --addpreclr: #19b96f;
  --cancelpreclr: rgb(253, 122, 99);

  --addclr: #008f4c;
  --cancelclr: tomato;
}
body {
  font-family: "Montserrat", sans-serif;
}
.head-cont {
  background-color: #4c8bf5;
  display: flex;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  padding: 3px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.header-img:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sideMenu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(171, 193, 216);
  font-family: "Titillium Web", sans-serif;
  transition: margin-left 0.5s;
}

.sideMenu ul.menu-main {
  list-style: none;
  padding: 0;
  margin-top: 65px;
  margin-left: 30px;
}

.sideMenu a.link {
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 2rem;
  color: white;
  display: block;
  transition: 0.2s;
}

.sideMenu a.link:hover {
  color: var(--link-active);
}
.sideMenu a.link.active {
  color: var(--link-active);
}
.sideMenu li:last-of-type a {
  margin-bottom: 0;
}
#add-project-btn {
  color: white;
  font-size: 2rem;
}
.content {
  margin-left: 250px;
  transition: margin-left 0.5s;
  padding: 10px;
  max-width: 1000px;
}
.page-title {
  margin-bottom: 15px;
  font-size: 3rem;
}

.table-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px gray solid;
  padding: var(--table-row-padding);
  position: relative;
}
.title {
  font-weight: 600;
}
.table-row-side {
  display: flex;
}
.dueDate {
  width: 150px;
  font-weight: 500;
}
.dueDate.overdue {
  color: red;
}
.priority {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-content: center;
}
.low {
  color: #04aa6d;
}
.medium {
  color: #db4c3f;
}
.high {
  color: red;
}
.check-box-cont {
  display: flex;
}
.crossout {
  text-decoration: line-through;
  color: gray;
}
.project-link {
  display: flex;
}

#add-project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 0;
}
#add-project-btn:hover {
  background-color: rgba(255, 255, 255, 0.377);
  color: var(--link-active);
}

/* MODAL STYLING START */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 0.5px black solid;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  transition: 200ms ease-in-out;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bolder;
}

.modal-body {
  padding: 10px 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* MODAL END */

.table-row-img {
  position: relative;
  right: 0;
  top: var(--table-row-padding);
  width: 21px;
  height: 21px;
}

.project-page-link-cont {
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 0px;
  width: 400px;
  justify-content: space-between;
}
.project-page-link,
.project-page-link-text {
  padding: 10px;
  border-radius: 30px;
}
.project-page-link {
  cursor: pointer;
  font-weight: 500;
}
.project-page-link:hover {
  background: rgba(76, 139, 245, 0.3);
}
.project-page-link-text {
  display: inline;
}
.project-page-delbtn {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: var(--link-active);
}

.project-nav-ext {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.project-nav-ext a:link,
.project-nav-ext a:visited {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  position: relative;
}
.project-nav-ext {
  width: 200px;
  margin-left: auto;
  list-style-type: none;
}
ul.project-nav-ext > a.active {
  border: 1px red solid;
}
.form-flex-col {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}
.form-flex-row {
  padding: 2px;
  display: flex;
  justify-content: flex-start;
}
.flex-col-input {
  width: 100%;
}
input,
select {
  background: none;
  border: none;
  border: 0.5px solid #8f8f9d;
  border-radius: 3px;
}
select {
  padding: 3.5px;
  display: inline;
}
#task-descrip-modal {
  resize: vertical;
  width: calc(100% - 20px);
}

.buttons-flex {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  gap: 25px;
}

.buttons-flex > button {
  border-radius: 3px;
  width: 100px;
  padding: 7px 0px;
  border: 1px solid white;
  background: var(--link-active);
  color: white;
  transition: 0.5s;
}

#modal-save {
  background: #1dbf73;
}

.buttons-flex > button:hover {
  transform: scale(1.2);
}

.add-task-cont {
  display: flex;
  justify-content: center;
  align-content: center;
}

.add-task-text {
  align-self: center;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.add-task-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-self: center;
}
.Bkgrndhighlight {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.Bkgrndhighlight:hover {
  background: rgba(255, 255, 255, 0.151);
}

.add-project-cont {
  width: 200px;
  margin-left: auto;
  display: none;
  transition: 0.5s ease-in-out;
}
.add-project-cont.active {
  display: block;
}
.add-project-text {
  color: white;
  font-weight: bold;
}
#add-project {
  width: 140px;
  background: white;
  outline: none;
  margin-bottom: 0px;
}
#add {
  color: var(--addpreclr);
  border-color: var(--addpreclr);
}
#cancel {
  color: var(--cancelpreclr);
  border-color: var(--cancelpreclr);
}

#add:hover {
  color: var(--addclr);
  border-color: var(--addclr);
}
#cancel:hover {
  color: var(--cancelclr);
  border-color: var(--cancelclr);
}
.add-project-btn-cont {
  width: 140px;
  display: flex;
  gap: 5px;
}
.add-project-btn {
  margin: 0px;
  margin-top: 5px;
  align-self: center;
  padding: 0%;
  color: white;
  background: none;
  border: none;
  width: 50%;

  padding: 0;
  font-size: 16px;
  font-weight: bolder;
  padding: 2px;

  border: 1px white solid;
  border-radius: 3px;
}

.add-project-preimage {
  display: none;
  width: 200px;
  margin-left: auto;
}
.add-project-preimage.active {
  display: block;
}
.add-project-prebutton {
  color: white;
  background: #78a8fa;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: bolder;
}
.add-project-prebutton:hover {
  background: #001538;
}
#add-project-text-info {
  font-size: 14px;
  font-style: italic;
  color: white;
}

.del-img-cont {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  display: none;
}
.del-img-cont.active {
  display: block;
}

.del-task-img {
  --sz: 35px;
  width: var(--sz);
  height: var(--sz);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  color: white;
  text-align: center;
}
